.portfolio {
  max-width: 1140px;
  margin: 50px auto 125px;
}

.portfolio__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: rgba(139, 139, 139, 1);
  margin: 0;
}

.portfolio__list-link {
  list-style: none;
  margin: 50px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.portfolio__link-container {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  margin-bottom: 20px;
}

.portfolio__link-container:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}

.portfolio__link {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  order: 1;
}

.portfolio__link:hover {
  opacity: 0.6;
  background-color: rgba(66, 66, 66, 0.6);
  transition: 0.3s linear 0s;
}

.portfolio__link-icon {
  order: 2;
}

@media screen and (max-width: 1277px) {
  .portfolio {
    margin: 50px 50px 125px;
  }

  .portfolio__link-container {
    border-bottom: 1px solid rgba(229, 229, 229, 1);
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    margin: 20px 14px 0;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__list-link {
    margin: 40px 0 0;
  }

  .portfolio__link-container {
    height: 48px;
  }

  .portfolio__link-container:last-of-type {
    height: max-content;
  }
  
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__link-icon {
    width: 12px;
  }
}
